.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: var(--default-layout-width, 1150px);
    padding-left: var(--default-layout-horizontal-space);
    margin-top: var(--default-layout-header-height);
    display: flex;
    max-width: 100%;
}
.content {
    margin-right: 2px;
    margin-left: 370px;
    width: 755px;
    max-width: 800px;
    padding: 24px 0;
    position: relative;
}
