.wrapper {
    border-top: 1px solid #e3e3e4;
    padding: 15px 0;
}

.label {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}
.see-all {
    align-items: center;
    color: var(--primary);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    margin-top: 8px;
    padding: 0 8px;
    font-weight: 600;
}
.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.username {
    margin-top: 0;
    font-size: 1.6rem;
    // color: #161823;
    line-height: 1;
    font-weight: 400;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.2rem;
    opacity: #161823bf;
    color: #000;
}
.nickname {
    color: #000;
}
.more-btn {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fe2c55;
    cursor: pointer;
}
// Tippy CSS
.account-tab {
    width: 320px;
    padding: 20px;

    .header {
        display: flex;
        margin-bottom: 12px;
        justify-content: space-between;
        align-items: center;
    }
    .tippy-avatar {
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }
    .tippy-username {
        font-size: 1.9rem;
        font-weight: 700;
    }
    .tippy-name {
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 20px;
    }
    .user-stats {
        display: flex;
        margin-top: 8px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 20px;
    }
    .bold {
        font-weight: 700;
    }
    .follower-stats {
        margin-right: 15px;
    }
}
